.toast {

  border: 2px solid black;
  width: 300px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.toast-close {
  border: none;
  background: none;
  cursor: pointer;
}

.toast.success {
  background-color: lightgreen;
}

.toast.error {
  background-color: lightcoral;
}

.toast.warning {
  background-color: lightyellow;
}

.toast.info {
  background-color: lightblue;
}