.carousel img {
  width: 500px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.dots {
  margin-top: 10px;
  margin-bottom: 10px;
}

.dots button {
  background: none;
  border: none;
}